{% extends "bootstrap/base.html" %}

{% block title %}Encolinks{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<a href="https://github.com/drgarcia1986/encolinks" target="_blank">
	<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">
</a>

<div class="container">
	{% block page_content %}
		<div class="page-header">
			<h1>Encolinks</h1>
		</div>
		
		<div class="form-group ">
			<input class="form-control" id="url" name="url" type="url" value="" placeholder="Link">
		</div>

		<button type="button" class="btn btn-primary btn-md" id="shrink">
		  <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> Encolher
		</button>	

		<button type="button" class="btn btn-default btn-md" id="info">
		  <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span> Informações 
		</button>	

	<p>
		<div id="result"></div>
	</p>
	{% endblock %}

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
	<script src="{{ url_for('pages.static', filename='script.js') }}"></script>
{% endblock %}
